<footer class="footer is-primary">
  <div class="content has-text-centered">
    <p>
      <strong class="has-text-white">felibra</strong><span class="has-text-white"> by </span><a href="https://github.com/Schusso/felibra/branches">PCZ</a><span class="has-text-white">. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.</span>
    </p>
  </div>

</footer>
