<!--<h1 class="title">Login</h1>
<div *ngIf="auth.user$ | async as user; else login">
  <pre>
    {{ user | json }}
  </pre>
  <hr>
  <button class="button" (click)="auth.signOut()">Sign Out</button>
</div>
<ng-template #login>
  <button class="button" (click)="auth.googleSignIn()">Login with Google</button>
</ng-template>-->

<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <div class="box is-centered has-text-centered guest">
  <div class="box"><h3>Hello, GUEST</h3>
  <p>Login to get started...</p>
  </div>
  <button class="button" (click)="signIn()">
    <i class="fa fa-google"></i> Connect Google
  </button>
  </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <img src="https://bulma.io/images/placeholders/96x96.png" alt="">
    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    <p>Email: {{ user.email }}</p>
    <p>UID: {{ user.uid }}</p>
    <button (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>
