<!--<h1 class="title">Login</h1>
<div *ngIf="auth.user$ | async as user; else login">
  <pre>
    {{ user | json }}
  </pre>
  <hr>
  <button class="button" (click)="auth.signOut()">Sign Out</button>
</div>
<ng-template #login>
  <button class="button" (click)="auth.googleSignIn()">Login with Google</button>
</ng-template>-->

<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>

  <button (click)="auth.googleSignIn()">
    <i class="fa fa-google"></i> Connect Google
  </button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <h3>Howdy, {{ user.firstName }}</h3>
    <p>UID: {{ user.uid }}</p>
    <button (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>
