  <!-- <div class="file">
    <label class="file-label">
      <input type="file" class="file-input" (change)="onDrop($event.target.files)">
    </label>
  </div>-->
  <div class="field">
    <div class="file is-boxed is-info"
         appDropZone
         (hovered)="toggleHover($event)"
         (dropped)="onDrop($event)"
         [class.hovering]="isHovering">
      <label class="file-label">
        <input class="file-input" type="file" name="resume" (change)="onDrop($event.target.files)">
        <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
      </label>
    </div>
  </div>
<div *ngFor="let file of files">
  <app-file-upload [file]="file"></app-file-upload>
</div>
